@use '../../styles/Theme' as *;

.btn {
  padding: 8px 32px;
  margin: 0px;
  font-size: 1rem;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
  border: none;
  transition: background-color 0.5s ease;
  background-color: $main;
}