@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-bold text-3xl lg:text-4xl  tracking-tight mb-4 text-black;
  }
  h2 {
    @apply font-bold text-2xl lg:text-3xl tracking-tight mb-4 text-black;
  }
  h3 {
    @apply font-bold text-xl lg:text-2xl tracking-tight mb-4 text-black;
  }
  p {
    @apply text-lg;
  }
}

@layer utilities {
  .container-page {
    height: 100vh;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .main {
    flex-grow: 1;
  
    display: flex;
    flex-direction: column;
  
    padding: 2rem;
  }
  
  .footer {
    width: 100%;
    height: 70px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
  }

  .btn {
    padding: 8px 32px;
    margin: 0px;
    font-size: 1rem;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
    border: none;
    transition: background-color 0.5s ease;
    /* background-color: #047857; */
  }

  .column {
    display: flex;
    flex-direction: column;
  }

  .full-screen {
    width: 100vw;
    height: 100vh;
  }

  .select-border {
    border-color: #d1d5db;
    border-width: 1px;
    border-radius: 0.375rem;
  }

  .test {
    border: 1px solid red;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bottom-divider {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

a:hover {
  border-bottom: 1px solid black;
}

* {
  box-sizing: border-box;
}

.photo-height {
  height: 400px;
}

@media only screen and (min-width: 600px) {
  .photo-height {
    height: 700px;
  }
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 25px;
  top: 25px;
}

@media only screen and (min-width: 600px) {
  .bm-burger-button {
    left: 36px;
    top: 36px;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #047857;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  /* background: #373a47; */
  background: white;
  padding: 2.5em 1.5em 0;
  /* font-size: 1.15em; */
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: black;
  padding: 1em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

